version: 2.1
jobs:
  compile:
   docker:
      - image: fedora:latest
   steps:
      - run:
          shell: /bin/bash
          command: |
                 git clone --depth=1 --recursive https://$USERNAME:$TOKEN@github.com/Kneba/kernel_asus_sdm660 -b tom kernel && cd kernel
                 curl https://raw.githubusercontent.com/Tiktodz/cooking-kernel/circle/build.sh > run.sh
                 source run.sh
          no_output_timeout : 1h
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile
